/* YOUR SOLUTIONS HERE */

/* ESERCIZIO 1 */
.ex-1-square {
    transition: background 1s linear;
}

.ex-1-square:hover {
    background: red;
}

/* ESERCIZIO 2 */
.ex-2-square {
    transition: width 3s linear;
}

.ex-2-square:active {
    width: 100%;
}

/* ESERCIZIO 3 */
.ex-3-square {
    transition: border-radius 2s linear;
}

.ex-3-square:hover {
    border-radius: 50%;
}

/* ESERCIZIO 4 */
.ex-4-square {
    transition: opacity 4s linear;
}

.ex-4-square:hover {
    opacity: 0;
}

/* ESERCIZIO 5 */
.ex-5-square {
    transition: transform 3s linear;
}

.ex-5-square:hover {
    transform: scale(1.5);
}

.ex-5-square:active {
    transform: scale(0.5);
}

/* ESERCIZIO 6 */
.ex-6-img:hover {
    filter: grayscale(1);
}

/* ESERCIZIO 7 */
.ex-7-img {
    transition: filter 2s linear;
}

.ex-7-img:hover {
    filter: grayscale(0.6) invert(1);
}

/* ESERCIZIO 8 */
.ex-8-img {
    transition: filter 2s, border-radius 1s;
}

.ex-8-img:hover {
    filter: hue-rotate(90deg) saturate(800%);
    border-radius: 20px;
}

/* ESERCIZIO 9 */
.ex-9-img {
    transition: filter 2s linear, border-radius 1s linear, transform 3s linear;
}

.ex-9-img:hover {
    filter: grayscale(1) brightness(200%);
    border-radius: 20px;
    transform: scale(1.5);
}

/* ESERCIZIO 10 */
.ex-10-icon {
    animation: rotation 1.5s linear infinite;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

/* ESERCIZIO 11 */
.ex-11-icon:hover {
    animation: partial-rotation-and-back 2s ease-in alternate;
}

@keyframes partial-rotation-and-back {
        0% {
            transform: rotate(0deg);
        }

        80% {
            transform: rotate(300deg)
        }

        100% {
            transform: rotate(0deg);
        }
}

/* ESERCIZIO 12 */
.ex-12-button:hover .ex-12-top-white {
    animation: move-top-space 2s linear;
}

@keyframes move-top-space {
    0% {
        left: 10%;
    }

    50% {
        left: 70%;
    }

    100% {
        left: 10%;
    }
}

.ex-12-button:hover .ex-12-bottom-white {
    animation: move-bottom-space 2s linear;
}

@keyframes move-bottom-space {
    0% {
        right: 20%;
    }

    50% {
        right: 70%;
    }

    100% {
        right: 20%;
    }
}

/* ESERCIZIO 13 */
.ex-13-button:hover .ex-13-top-white {
    animation: move-top-space-around 3s linear;
}

@keyframes move-top-space-around {
    0% {
        left: 10%;
        top: -10px;
    }

    20% {
        left: 75%;
        top: -10px;
    }

    40% {
        left: 75%;
        top: 100%;
    }

    60% {
        left: 0;
        top: 100%;
    }

    80% {
        left: -15px;
        top: -10px;
    }

    100% {
        left: 10%;
        top: -10px;
    }
}

.ex-13-button:hover .ex-13-bottom-white {
    animation: move-bottom-space-around 3s linear;
}

@keyframes move-bottom-space-around {
    0% {
        bottom: -10px;
        right: 20%;
    }

    20% {
        bottom: -10px;
        right: 75%;
    }

    40% {
        bottom: 100%;
        right: 75%;
    }

    60% {
        bottom: 100%;
        right: -10%;
    }

    80% {
        bottom: -10px;
        right: -10%;
    }

    100% {
        bottom: -10px;
        right: 20%;
    }
}
